* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: rgb(162, 181, 193);
}

a:hover {
	color: rgb(20, 111, 179);
}

.container {
	margin: 1px;
	font-family: "Open Sans";
	-webkit-font-smoothing: antialiased;
}

.header {
	font-weight: 300;
	color: rgb(8, 52, 82);
	height: 60vh;
	width: 100%;
	background-image: url(assets/images/header.jpg);
	background-size: cover;
	text-transform: uppercase;
	position: relative;
}

.top {
	position: relative;
	padding-top: 10px;
}

.logo {
	height: 45px;
	vertical-align: top;
	line-height: 45px;
	text-align: center;
	display: inline-block;
	position: relative;
	left: 100px;
}

.logo img {
	padding-right: 13px;
}

.link-top {
	display: inline-block;
	height: 45px;
	font-weight: bold;
	vertical-align: top;
	line-height: 45px;
	text-align: center;
	font-family: "Oswald";
	position: absolute;
	right: 100px;
}

.about {
	display: inline-block;
	padding-right: 10px;
}

.search {
	display: inline-block;
}

.search img {
	padding-left: 5px;
	height: 13px
}
.name {
	font-size: 80px;
	color: white;
	text-align: center;
	margin-top: 120px;
}

.description {
	text-align: center;
	margin-top: -20px;
	text-transform: none;
}

/*Start of Body*/

.body {
	border-bottom: solid 3px rgb(231, 237, 239);
}

	/*Left*/

.left {
	width: 60%;
	display: inline-block;
	padding: 60px 20px 60px 120px;
}

.title {
	font-family: "Oswald";
	text-transform: uppercase;
	color: rgb(8, 52, 82);
}

.title-name {
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 5px;
}

.author {
	display: inline-block;
	color: rgb(0, 96, 176);
	height: 40px;
	vertical-align: top:;
	line-height: 22px;
	text-align: center;
	font-size: 10px;
	margin-bottom: 30px;
}

.author img {
	width: auto;
	height: 22px;
	vertical-align: top;
	padding-right: 7px;

}

.date {
	display: inline-block;
	color: rgb(162, 181, 193);
	font-size: 12px;
	margin-left: 10px;
}

.content {
	color: rgb(93, 105, 112);
}

.quote {
	color: rgb(0, 96, 176);
	font-size: 30px;
	text-transform: uppercase;
	border-left: solid 2px rgb(201, 201, 201);
	padding: 5px 15px;
	margin: 20px 20px;
}

.read {
	display: inline-block;
	margin-top: 20px;
	height: 31px;
	vertical-align: top;
	color: rgb(249, 249, 249);
	font-size: 0px;

}

.read img {
	background: rgb(92, 104, 111);
	height: 31px;
	width: auto;
	padding: 8px;
	vertical-align: top;
}

.gray {
	display: inline-block;
	background: rgb(160, 179, 192);
	line-height: 31px;
	font-size: 12px;
	margin-right: 10px;
	padding: 0px 15px;

}

.blue {
	display: inline-block;
	background: rgb(0, 105, 182);
	line-height: 31px;
	font-size: 12px;
	padding: 0px 15px;
}


	/*Right*/

.right {
	width: 35%;
	display: inline-block;
	margin: 10px;
	padding: 60px 120px 70px 50px;
	text-align: center;
	vertical-align: top;
	position: relative;
}

.author-name {
	text-align: center;
	font-size: 18px;
	color: rgb(0, 96, 176);
	margin-bottom: 5px;
}

.social-media {
	text-align: center;
	font-size: 14px;
}

.social-media a {
	text-decoration: none;
}

.twitter {
	display: inline-block;
	border-right: solid 1px rgb(249, 249, 249);
	padding: 0px 5px;
}

.facebook {
	display: inline-block;
	border-right: solid 1px rgb(249, 249, 249);
	padding: 0px 5px;
}

.instagram {
	display: inline-block;
	padding: 0px 5px;
}

.ad {
	margin: 70px 0px;
	width: 100%;
	text-align: right;
}

.ad img {
	text-align: center;
	width: 100%;
}

.ad a {
	text-align: right;
	font-size: 12px;
}

.sidebar-heading {
	font-size: 18px;
	color: rgb(0, 96, 176);
	text-align: left;
}

.sidebar-text {
	font-size: 12px;
	text-align: left;
	color: rgb(159, 176, 188);
}


/*Footer*/

.footer {
	width: 100%;
}

.footer-header {
	text-align: center;
	font-size: 60px;
	margin: 20px
}

.footer-posts {
	display: inline-block;
	width: 100%;
	font-size: 0px;
	position: relative;
}


.post {
	display: inline-block;
	width: 25%;
	height: 40vh;
	background-size: cover;
	vertical-align: top;
	position: relative;
}

.post-1 {
	background-image: url(assets/images/article-image-1.jpg);
}

.post-2 {
	background-image: url(assets/images/article-image-2.jpg);
}

.post-3 {
	background-image: url(assets/images/article-image-3.jpg);
}

.post-4 {
	background-image: url(assets/images/article-image-4.jpg);
}

.text {
	font-size: 26px;
	font-family: "Oswald";
	line-height: 26px;
	color: rgb(5, 46, 74);
	text-transform: uppercase;
	padding: 5px;
	position: absolute;
	bottom: 0px
}

.text-beer {
	font-size: 26px;
	color: rgb(255, 255, 255);
}

.layer {
	height: 40vh;
	width: 100%;
	background-color: rgba(18, 91, 147, .8);
	position: relative;
}

.layer:hover {
	background: none;
}

.layer:hover .text {
	color: rgb(249, 249, 249);
}

.footer-footer {
	display: inline-block;
	width: 100%;
	padding: 20px;
	background: rgb(8, 52, 82);
	color: rgb(173, 187, 198);
	font-size: 12px;
	position: relative;
}

.ironyard {
	display: inline-block;
	vertical-align: top;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-left: 10%;
}

.ironyard img {
	padding-right: 5px;
}

.link-bottom {
	display: inline-block;
	padding-left: 5px;
	height: 35px;
	position: absolute;
	right: 10%;
}

.nav {
	padding: 3px;
	border-left: solid 1px color: rgb(173, 187, 198);
	height: 35px;
	line-height: 35px;
	vertical-align: center;
}

.nav-item-1 {
	display: inline-block;
}

.nav-item-2 {
	display: inline-block;
}

.nav-item-3 {
	display: inline-block;
}

.nav-item-5 {
	display: inline-block;
}


